*{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 102%;
    max-width: 720px;
    
}

body{
    text-align: center;
    place-items: center;
    
}
h1{
    font-size: 25px;
    padding-top: 10px;
}

form {
    font-size: 15px;
    background-color: #ffffff;
    max-width: 500px;
    text-align: center;
    box-shadow: 1px 1px 10px #050505;  
}

input, textarea {
    padding: 10px;
    outline: none;

    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000066;
    box-shadow: 5px 0px 9px #858582;
    background-color: #a9b9b9;
    color: black;
    font-weight: bold;
}

.enviar {
    background-color: #7c8686;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

form label {
    margin-left: 20px;
    color: black;
    font-weight: bold;
}
h4{
    padding: 10px;
}