*{
    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 102%;
    
}

body{
    background-color: rgb(16, 17, 31);
    text-align: center;
    place-items: center;
    color: white;
}
.container{
    max-width: 720px;
}
h1{
    background-image: linear-gradient( rgb(16, 17, 31),rgb(51, 2, 120));
    font-size: 25px;
    min-width: 10rem;
    max-width: 20rem;
    padding: 10px 66.17px;
}
#title{
    background-image: linear-gradient( rgb(8, 0, 26),rgb(51, 2, 120));
    max-width: none;

}
p{
    padding: 15px
}

form {
    display: flex;
    place-content: center center;
    direction: ltr;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 15px;
    max-width: 20rem;
    background-color: #b9b6c1;
    text-align: center;
    
}
#nomeid, #id{
    min-width: 25vmin;
    max-width: 40vmin;
}
#nomeid, #id, .enviar, textarea {

    display: flex;
    padding: 10px;
    outline: none;
    font-size: 13px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid;
}
textarea{
    
    min-width: 25vmin;
    max-width: 40vmin;
    min-height: 5rem;
}

input:focus, textarea:focus {
    border-color: #000066;
    box-shadow: 0px 0px 9px #000000;
    font-size: 13px;
}

.enviar {
    background-color: #4b2fba;
    font-weight: bold;
    max-width: none;
    border: 1px solid;
    color: black;
    transition: .3s;
}
.enviar:hover{
    background-color: #2f2077;
    color: rgb(200, 200, 200);
    border-color: transparent;
    box-shadow: 0 0 9px rgb(31, 12, 107);
}

form label {

    color: black;
    font-weight: bold;
    margin-left: 50px;
}
h4{

    padding: 10px;
    color: black;
}