*{
    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 102%;
}
body{
    background-color: rgb(16, 17, 31); 
}
.menu{
    padding-top: 5px;
    background-image: linear-gradient(to right, rgb(13, 0, 44),black );
    display: flex;
    place-items: left;
    flex-wrap:wrap;
    place-content: left;
    flex-direction:row;
    direction: ltr;
}
.menu ul{
    display: flex;
    text-align: center; 
}
.menu ul li{
    display: flex;
}
.menu a{
    padding: 8px 10px;
    color:rgb(179, 179, 179);
    text-decoration: none;
    text-decoration: bold;
    transition: .3s;
    font-weight:bolder;
}
.menu a:hover{
    color:rgb(45, 94, 255);    
}
#logo{
    filter:invert(60%);
    margin-left: 20px;
    margin-right: 20px;
}
#search{
    flex-direction:column;
    padding-top: 10px;
}
#search button{
    outline: none;
    padding: 0 10px;
    margin-left: -5px;
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(106, 105, 115);
    transition: .3s;
    cursor: pointer;
}
#search input{
    max-width: 10vmax;
    color: white;
    border: none;
    padding-left: 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    outline: none;
    background-color: rgb(106, 105, 115);
    margin-bottom: 10px;
}
#search button:hover{
    background-color: rgb(76, 78, 90);
    border-color: rgb(45, 94, 255);  
}
#search button:hover img{
    filter:invert(100);
}

#title{
    direction:rtl;
    padding: 10px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(16, 17, 31));
}
#title h1{
    color: white;
    text-shadow: 2px 2px 2px rgb(58, 0, 248);
    font-size: 3rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
#title button{
    outline: none;
    background-color: rgb(234, 26, 26);
    cursor: pointer;
    padding: 10px;
    border-radius: 150px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    transition: .3s;
}
#title button:hover{
    box-shadow: 0px 0px 10px red;
    border-color: rgb(100, 20, 20);
    background-color: rgb(248, 47, 47);
}
#title button:active{
    transition: -0s;
    background-color: rgb(100, 20, 20);
}
#title img{
    filter: invert(100%);
}
.games{
    display: flex;
    place-content: center center;
    direction: ltr;
    flex-wrap: wrap;
    margin-bottom: 20px;
    place-items: center;
}
.games ul{
    display: flex;
    text-align: center;
    color:rgb(212, 212, 212);
    padding: 3px;
    min-width: 100vmin;
    max-width: 50vmax;
    min-height: 10vmin;
    flex-wrap:wrap;
    place-content: center;
    flex-direction:row;
    direction: ltr;
}
.games li{
    margin-bottom: 10px;
    background-color: rgb(36, 11, 98);
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
}
.games img{
    margin: 10px;
    border-radius: 10px;
}
.games h4{
    color:rgb(212, 212, 212);
    text-align: center;
    margin-top: -20px;
    padding-top: 10px;
}
.games button{
    margin-bottom: 10px;
    outline: none;
    margin-top: 10px;
    cursor:pointer;
    background-color: white;
    font-weight: bolder;
    place-items: center;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    transition: .3s;
    
}
.games button img{
    cursor:pointer;
    place-items: center;
    display: none;
    padding: 0;
    margin: 0 auto;
    border-radius: 10px;
    transition: .9s;
    
}
.games button:hover{
    box-shadow: 0 0 10px rgb(0, 0, 0);
    background-color: rgb(242, 21, 21);
    text-align: center;
    color: aliceblue;
    display: inline;
}
.games button:hover img{
    background-color: rgba(238, 52, 52, 0);
    border: none;
    display: inline;
    filter: invert(100);
}
.end-page{
    border-top: 1px solid rgb(75, 75, 75);
    padding: 20px;
    min-width: 100vmin;
    max-width: 50vmax;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
}