*{
    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 102%;
}
body{
    background-color: rgb(16, 17, 31); 
}
.login{
    width: 100%;
    height:100%;
    display: flex;
    place-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.869);
}

#loginBackground {
    box-shadow: 0 0 15px black;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 11, 98);
    color: white;
    font-weight: bold;
}
#loginBackground h1{
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    font-size: 200%;
    color: white;
}
#loginBackground input {
    outline: none;
    border: none;
    padding: 5px;
}
#loginBackground input:focus {
    box-shadow: 0 0 5px rgb(0, 0, 0);
}
#loginBackground button {
    border: none;
    background-color: rgb(172, 30, 30);
    padding: 5px;
    color: white;
    border-radius: 10px;
    transition: .2s;
}
#loginBackground button:hover{
    background-color: rgb(255, 0, 0);
    box-shadow: 0 0 5px rgb(44, 44, 44);
}

#loginBackground button:active{
    transition: 0s;
    background-color: rgb(125, 19, 19);
}

.menu{
    padding-top: 5px;
    background-image: linear-gradient(to right, rgb(13, 0, 44),black );
    display: flex;
    place-items: left;
    flex-wrap:wrap;
    place-content: left;
    flex-direction:row;
    direction: ltr;
}
.menu ul{
    display: flex;
    text-align: center; 
}
.menu ul li{
    display: flex;
}
.menu a{
    padding: 8px 10px;
    color:rgb(179, 179, 179);
    text-decoration: none;
    text-decoration: bold;
    transition: .3s;
    font-weight:bolder;
}
.menu a:hover{
    color:rgb(45, 94, 255);    
}
#logo{
    margin-left: 40px;
    margin-right: 40px;
}
#search{
    flex-direction:column;
    padding-top: 10px;
}
#search button{
    outline: none;
    padding: 0 10px;
    margin-left: -5px;
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(106, 105, 115);
    transition: .3s;
    cursor: pointer;
}
#search input{
    max-width: 10vmax;
    color: white;
    border: none;
    padding-left: 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    outline: none;
    background-color: rgb(106, 105, 115);
    margin-bottom: 10px;
}
#search button:hover{
    background-color: rgb(76, 78, 90);
    border-color: rgb(45, 94, 255);  
}
#search button:hover img{
    filter:invert(100);
}
#userid{
    cursor: pointer;
    padding-top: 5px;
    direction: rtl;
}
#userid h3{
    box-shadow: rgb(125, 125, 125) 0px 0px 15px; 
    color: white;
    padding: 5px;
    background-color: rgb(36, 11, 98);
    position: fixed;
    display: none;
    margin-top: 30px;
    border-radius: 10px;
    border-top-right-radius: 0;
}
#userid:hover h3{
    display: inline;

}
.title{
    direction:rtl;
    padding: 10px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(16, 17, 31));
}
.title h1{
    color: white;
    text-shadow: 2px 2px 2px rgb(58, 0, 248);
    font-size: 3rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    
}
.title button{
    outline: none;
    background-color: rgb(234, 26, 26);
    cursor: pointer;
    padding: 10px;
    border-radius: 100%;
    border: 1px solid transparent;

    transition: .3s;
    direction: ltr;
}
.title button:hover{
    box-shadow: 0px 0px 10px red;
    border-color: rgb(100, 20, 20);
    background-color: rgb(248, 47, 47);
}
.title button:active{
    transition: -0s;
    background-color: rgb(100, 20, 20);
}
.button_align{
    place-content: center center;
    align-items: center;
    display: flex;
    flex-direction: row;
    border: none;
}
.total_car td{
    border: none;
    padding: 5px;
}
.button_align button {
    background-color: rgb(31, 147, 151);
}
.button_align button:hover{
    box-shadow: none;
}
.title table button{
    border-radius: 10px;
    position: relative;
    border-color: black;
    color: white;
    font-weight: bold;
    padding: 0px 7px;
}
.title img{
    margin-left: -2px;
    margin-bottom: -5px;
}
.title table{
    direction: ltr;
    color: rgb(251, 255, 122);
    margin-top: 50px;
    margin-right: 50px;
    border-radius: 10px;
    border-top-right-radius: 0;
    text-align: center;
    position:fixed;
    padding: 5px;
}
.title table thead{
    font-weight: bold;
}
.title table tbody{
    place-content: center center;
    align-items: center;
    color:rgb(160, 255, 184);
    
}
#done{
    display: flex;
    place-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
}
.done{
    display: flex;
    flex-direction: column;
}
.done h1{

    background-color: rgb(49, 15, 136);
    padding: 50px 25px;
    border-radius: 20px;
    font-size: 200%;
    color: white;
    border: 1px solid rgb(31, 31, 31);
    box-shadow: 0 0 15px rgb(0, 0, 0);
}
.done button{
    background-color: rgb(168, 12, 12);
    padding: 7px;
    border: none;
    border-radius: 10px;
    margin-top: -50px;
    font-size: 70%;
    color: white;
    cursor: pointer;
    transition: .5s;
}
.done button:hover{
    background-color: rgb(212, 11, 11);
}
.done button:active{
    transition: 0s;
    border: 1px solid black;
    background-color: rgb(168, 12, 12);
    
}

.games{
    display: flex;
    place-content: center center;
    direction: ltr;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.games ul{
    display: flex;
    text-align: center;
    color:rgb(212, 212, 212);
    padding: 3px;
    min-width: 100vmin;
    max-width: 50vmax;
    min-height: 10vmin;
    flex-wrap:wrap;
    place-content: center;
    flex-direction:row;
    direction: ltr;
}
.games li{
    margin-bottom: 10px;
    background-color: rgb(36, 11, 98);
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
}
.games img{
    margin: 10px;
    border-radius: 10px;
}
.games h4{
    color:rgb(212, 212, 212);
    text-align: center;
    margin-top: -20px;
    padding-top: 10px;
}
.games button{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    outline: none;
    margin-top: 10px;
    cursor:pointer;
    background-color: white;
    font-weight: bolder;
    place-items: center;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    transition: .3s;
    
}
.games p{
    margin-left: 3px;
}
.games button img{
    cursor:pointer;
    place-items: center;
    display: none;
    padding: 0;
    margin: 0 auto;
    border-radius: 10px;
    transition: .9s;
    
}
.games button:hover{
    box-shadow: 0 0 10px rgb(0, 0, 0);
    background-color: rgb(242, 21, 21);
    text-align: center;
    color: aliceblue;
    display: flex;
}
.games button:hover img{
    background-color: rgba(238, 52, 52, 0);
    border: none;
    display: inline;
    filter: invert(100);
}
.end-page{
    border-top: 1px solid rgb(75, 75, 75);
    padding: 20px;
    min-width: 100vmin;
    max-width: 50vmax;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
}